body {
  padding-top: 0px;
}
.home{
  padding: 40px 35px;
  text-align: center;
}

h1#main_title{
	color: #000000
}

blockquote#quote {
	background: #999999
	color: #423ddd;
}

h3#name_author_quote{
	text-align: right;
}

